@model Wrapper
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
    <header>
        <nav>
            <a href="/dashboard">Home</a>
            <a href="/service/types">Services</a>
            <a href="/service/completed">Completed Services</a>
            <a href="/logout">Log Out</a>
        </nav>
    </header>
    <main>

    </main>
</body>
</html>